<main>
    {{#each users}}
        <hr>
        <li>
            id: {{this.id}} <br>
            Name: {{this.name}} <br>
            email: {{this.email}} - {{this.password}} <br>
            phone: {{this.phone}}
        </li>
    {{/each}}
</main>


